body{
  margin: 0;
  background-image: linear-gradient(white,white, #ff3366);
}
/* Header Conatiner*/
.headerContainer{
  display: grid;
  gap: 20px;
  grid-template-columns: 60% 40%;
  /* padding: 0 200px 0 200px; */
  /* background-color: grey; */
  padding-left: 15vw;
  padding-right: 15vw;
  box-shadow: 0 0 10px 2px grey;
}
.headerContainerLeft{
  display: flex;
  align-items: center;
  /* gap: 20px;
  grid-template-columns: auto auto auto; */
  /* background: green; */
  height: auto;
  padding: 3px;
}
#search{
  width: 10vw;
  height: 2vw;
  padding: 5px;
  font-size: 1.35vw;
  color: #ff0040;
  border-color: #ff0040;
  border-style: solid;
}
#searchButton{
  font-size: 1.35vw;
  border-style: none;
  background-color: #ff0040;
}
#searchButton:hover{
  background-color: #d30236;
}
.headerContainerRight{
  display: flex;
  align-items: bottom;
  /* gap: 20px;
  grid-template-columns: auto auto auto; */
  /* background: green; */
  position: relative;
  height: auto;
}
.rightGrid{
  /* background-color: purple; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 2vw;
  position: absolute;
  bottom: -25%;
  left: 0;
  max-width: 100%;
  /* transform: translate(0%, -0%); */
}
.rightRoundButton{
  width: 3.5vw;
  height: 3.5vw;
  background-color:#d30236;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px grey;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 0 200px 20px 200px; */
  gap: 20px;
  /* background-color: grey; */
  margin-left: 15vw;
  margin-right: 15vw;
}
.container > div{
  /* background-color: grey; */
  /* padding: 20px; */
}
.style1{
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
}
.topGrid{
  display: grid;
  grid-template-columns: 60% auto;
  padding: 20px;
  gap: 20px;
}
.leftDiv{
  /* background-color: green; */
  text-align: center;
  /* padding: 20px; */
}
.rightDiv{
  /* background-color: green; */
  text-align: left;
  /* padding: 20px; */
}
.fruitTitle{
  text-align: center;
  background-color: #ff0040;
  padding: 1vh;
}
#padInfo{
  padding:15px;
}
.iconsDesign{
  position: relative;
  /* background-color: yellow; */
  height: 2vh;
}
.iconsDesignLeft{
  position: absolute;
  width: 50%;
  left: 0;
  padding-left: 20px;
  /* background-color: green; */
}
.iconsDesignRight{
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 20px;
  /* background-color: blue; */
}
.style2{
  background-color: white;
  padding-bottom: 20px;
}
.style3{
  background-color: white;
}
.style4{
  background-color: white;
}
